body {
    background-image: url(./assets/lakers_stadium.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#banner {
    font-style: italic;
    font-family: sans-serif;
    font-weight: bold;
    color: #493092;
    background-color: #eebe1e;
    text-align: center;
    height: 70px;
    font-size: 50px;
    padding-top: 10px;
}

.trivia-tiles {
    border: 2px solid black;
    height: em;
    width: 45%;
    margin-top: 60px;
    color: black;
    background-color: #eebe1e;
}

#main-tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

.score {
    height:25px;
    width: 20%;
    border: 2px solid black
}

#game-result {
    border: 2px solid black;
    height: 25em;
    margin: 0 auto;
    background-color: #493092;
    width: 50%;
    display: none;
    color: white;
}