$primary-color: #493092;
$secondary-color: #eebe1e;
$light-color: white;
$dark-color: black;
$highlight-color: #fd015b;
$background-light: #dcd4c5;
$font-family: sans-serif;
$font-weight-bold: bold;
$font-size-large: 50px;
$font-size-medium: 25px;
$font-size-small: 17px;
$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 20px;
$invalid-color: 123456;

